doctype html
html(lang="en" ng-app="cbn")
    head
        title Customer Registration
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/customer-registration.css')
        script(src="/bower_components/angular/angular.js")
        script(src="/js/controllers.js")
    body
        .header
            div(class="logo")
                img(class="logoImg" src="/images/logo.png")
            div(class="headerLower")
                span(class="fadingLine")
                input(class="searchBar" ng-model="query" placeholder="Search for product..." required)
                input(class="searchButton" type="button" value="Search")
                div(class="trackArrowDown")
                a(class="trackButton" href="") Track your order
                div(class="cartArrowDown")
                a(class="cartButton" href="") Cart
                div(class="accountArrowDown")
                a(class="accountButton" href="/render?name=registration") Your Account
        .details
            block details-pane
        .alert
            block alerts-pane