doctype html
html(lang="en" ng-app="cbn")
    head
        title Customer Registration
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/customer-registration.css')
        script(src="/bower_components/angular/angular.js")
        script(src="/js/controllers.js")
    body
        .header
            div(ng-controller="layoutCtrl" ng-init="init()")
                div(class="logo")
                    img(class="logoImg" src="/images/logo.png")
                div(class="signoutLink")
                    a(class="signoutText" href="" ng-click="signout()" ng-show="isUsername") Sign Out
                div(class="headerLower")
                    span(class="fadingLine")
                    input(class="searchBar" ng-model="query" placeholder="Search for product..." required)
                    input(class="searchButton" type="button" value="Search")
                    a(class="accountButton" href="#" ng-click="accountLink()") Your Account
                    div(class="accountArrowDown")
                    div(class="username" ng-show="isUsername") {{username}}
                    div(class="username" ng-show="shouldsignin") SignUp/SignIn
                    a(class="cartButton" href="") Cart
                    div(class="cartArrowDown")
                    a(class="trackButton" href="") Track your order
                    div(class="trackArrowDown")
        .details
            block details-pane
        .alert
            block alerts-pane